$accent: #F0145A;
$black: #000;
$white:#fff;
$main: #323264;
$main-alt: #46466E;
$main-soft: #686887;
$active: #006CCF;
$active-regular: #24A3FF;
$active-hover: #0085FF;
$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;
$gradient-suprseoft: linear-gradient(to bottom left, #323264 50%, #643e72 100%);
$gradient-redtext: linear-gradient(to right, #ef8080 0%, #f0145a 100%);
$gradient-redtext2: linear-gradient(to left, #ef8080 0%, #f0145a 100%);
$bolt: 700;
$regular: 400;
$Montserrat: 'Montserrat', sans-serif;